@model List<CarMileage.Models.Car>
@{
    ViewData["Title"] = "List of cars";
}
<h1>@ViewData["Title"]</h1>

@if (@ViewBag.AdminMessage != null){
  <p>@ViewBag.AdminMessage</p>
}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Car</th>
      <th scope="col">VIN</th>
      @if (ViewBag.HasAdminRights == true){
          <th scope="col">Owner</th>
      }
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
@foreach (Car car in Model)
{
    <tr>
        <td>@car.Manufacturer  @car.Model </td>
        <td>@car.VIN  </td>
        @if (ViewBag.HasAdminRights == true){
          <td>@car.Owner?.Email</td>
        }
        <td>
            <a class="btn btn-info btn-sm" asp-area="" asp-action="EditCar" asp-route-carID="@car.Id">Edit</a>
            <a class="btn btn-info btn-sm" asp-area="" asp-action="AddMileage">Add Mileage</a>
            <a class="btn btn-info btn-sm" asp-area="" asp-controller="Calculations" asp-action="Calcs" asp-route-carID="@car.Id">Statistics</a>
        </td>
    </tr>

    
}
  </tbody>
</table>