@model CarMileage.Models.Car
@{
    ViewData["Title"] = "Edit car";
}
<h1>@ViewData["Title"]</h1>
<form method="post">
    @Html.HiddenFor(m=>m.Id)
    @Html.TextBoxFor(m => m.Manufacturer)
    @Html.TextBoxFor(m => m.Model)
    @Html.TextBoxFor(m => m.VIN)
    <input type="submit" value="Save"/>
</form>